.form-check-label {
  line-height: 20px;
}
.form-check {
  border-bottom: 2px solid grey;
 
  width: 300px;
  text-align: left;
 
}
.btn:hover {
  background-color: #53a2fc;
  color: white;
}
.icons {
  position: absolute;
  left: 5%;
}
.banner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  animation: marquee 20s linear infinite;
}
.text-layer {
  min-width: 200px;
  background: left 5% / 100% 100% no-repeat url(../../images/layer.png);
  padding: 10px;
}
.cost-text {
  padding: 0 20px;
  margin: 10px 0;
  color: white;
}
@keyframes marquee {
  0% {
    transform: translate(100%, 0);
  }
  100% {
    transform: translate(-90%, 0);
  }
}
